
<h1>SuperHero Team!</h1>

<h1>Team Name: <%= @team.name %> </h1> <br>

<h2>Team Motto: <%= @team.motto %></h2><br>
<br>
Hero 1<br>
Hero Name: <%= @heros[0].name %> <br>
Hero Power: <%= @heros[0].powers %> <br>
Hero Biography: <%= @heros[0].bio %> <br>
<br>
Hero 2<br>
Hero Name: <%= @heros[1].name %> <br>
Hero Power: <%= @heros[1].powers %> <br>
Hero Biography: <%= @heros[1].bio %> <br>
<br>
hero 3<br>
Hero Name: <%= @heros[2].name %> <br>
Hero Power: <%= @heros[2].powers %> <br>
Hero Biography: <%= @heros[2].bio %> <br>